* { 
    padding: 0; 
    margin: 0;
} 

body{
    margin: 0px;
    padding: 0px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    color: rgb(53, 52, 52);
    text-decoration: none;
}

.header{
    background-color: white;
    box-shadow: 1px 1px 7px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
    z-index: 5;
}

.header ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
    overflow: hidden;
    
}

.header ul a{
    display: block;
    text-transform: uppercase;
    padding: 10px;
    margin: 0px 20px;
    font-size: 13px;
    text-align: center;
    letter-spacing: 0.01em;
}

.header ul a:checked ~ .header{
    background-color: indianred;
}

.logo{
    float: left;
    font-size: 40px;
    font-family: 'Arizonia', cursive;
    padding: 10px 40px;
}


.header ul a:hover{
    background: linear-gradient(360deg, rgba(186,3,63,1) 0%, rgba(255,255,255,1) 12%, rgba(255,255,255,1) 100%);
    font-weight: bold;
}

.header .menu{
    clear: both;
    max-height: 0;
    transition: max-height .3s ease-out;
}

.header .menu-label{
    margin: 25px 30px;
    position: relative;
    float: right;
    cursor: pointer;
}


.header .menu-label .nav-icon{
    background-color:black;
    display: block;
    height: 2px;
    width: 20px;
    position: relative;
    transition: background .5s ease-out;
}

.header .menu-label .nav-icon:before,
.header .menu-label .nav-icon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .5s ease-out;
    width: 100%;
}

.header .menu-label .nav-icon:before {
    top: 5px;
}

.header .menu-label .nav-icon:after {
    top: -5px;
}

.header input{
    display: none;
}

.header .menu-btn:checked  ~ .menu{
    max-height: 300px;
}

.header .menu-btn:checked  ~ .menu-label .nav-icon{
    background: transparent;
}

.header .menu-btn:checked  ~ .menu-label .nav-icon:before{
    transform: rotate(-45deg);
    top:0px;
}

.header .menu-btn:checked  ~ .menu-label .nav-icon:after{
    transform: rotate(45deg);
    top:0px;
}


@media (min-width:1200px){

    .header li {
        float:left;
    }

    .header li a{
        padding: 30px 11px;
    }

    .header .menu{
        clear: none;
        float: right;
        max-height: none;
    }

    .header .menu-label{
        display: none;
    }
}